* {
  font-family: "Open Sans", sans-serif;
}
h2 {
  padding-left: 10px;
}
.material-symbols-outlined {
  padding: 10px;
  /* margin: 5px; */
}
#abc {
  padding-top: 20px;
  padding-right: 800px;
}
#sign-up {
  font-weight: bold;
  color: red;
  padding: 2px;
  width: 25px;
  height: 15px;
  border: 2px solid red;
  border-radius: 5px;
}
.bar {
  display: inline-block;
  padding-left: 10px;
}
h1 {
  text-align: center;
  color: #4c70ca;
}
h3 {
  padding-bottom: 20px;
}
.dit {
  margin: 20px;
  padding-bottom: 10px;
  padding-top: 0px;
}
img {
  justify-content: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
#pro1,
#pro2,
#pro3,
#pro4,
#pro5 {
  margin: 10px;
  display: inline-block;
  width: 200px;
  height: auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#blo1,
#blo2,
#blo3 {
  margin-top: 0px;
  margin: 15px;
  display: inline-block;
  width: 300px;
  height: auto;
  text-align: left;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.bot {
  padding-top: 5px;
  color: white;
  background-color: black;
  text-align: center;
  width: 100%;
  height: auto;
}
